table {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-left:auto; 
    margin-right:auto;
}

th {
    color: #369;
    margin: 15px;
    width: 10em
}

tr {
    padding: 0px;
    font-size: 1em
}

td {
    margin: 15px;
}

span {
    margin: 10px;
}

.incorrectResult {
    color: red;
}

.correctResult {
    color: green;
}

.correctAndLongResult {
    color: orange;
}